<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="bg-img">
      <div class="logistic">

        <form action="/array/" method="post">
                  <input required type="text" id="url" name="url" placeholder="Enter URL" />

                    <label>Using Naive Bayes</label>

    <button class="btn" name="forwardBtn" type="submit">Run</button>
</form>
      </div>
    </div>
  </body>
</html>





